.card__pet {
    display: flex;
    position: relative;
    gap: 20px;
    width: 60%;
    height: auto;
    max-height: 230px;
}

.close_logo,
.change_logo,
.done_logo {
    position: absolute;
    cursor: pointer;
}

.close_logo {
    left: 3px;
    height: 22px;
}

.change_logo {
    top: 7px;
    left: 25px;
    height: 14px;
}

.done_logo {
    top: 2px;
    left: 21px;
    height: 22px;
}

.card__pet .text_container {
    width: auto;
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-direction: column;
}

.text_container {
    max-width: 218px;
}

.card__pet .photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-self: center;
}

.status__list {
    list-style: none;
}

.petinfo__input {
    width: auto;
    max-width: 30%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333333;
}

.pet_weight_diagram > h3 {
    text-align: center;
}

.pet_weight_diagram{
    position: absolute;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    right: 9%;
}