.card__appointment {
  display: flex;
  position: relative;
  gap: 20px;
  width: 70%;
}

.card__appointment .photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card__appointment .text_container {
  width: 240px;
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-direction: column;
}

.card__appointment h3 {
  text-transform: capitalize;
}

.counter_container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  width: 10%;
}

.appointment__date {
  position: absolute;
  right: 1.4rem;
}

.appointment__date > p {
  text-align: right;
}

.close_logo {
  position: absolute;
  top: 3px;
  left: 3px;
  cursor: pointer;
}
