.tasks {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.appointment_cards__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 70%;
}