:root {
  --primary: orange;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Signica', sans-serif;
}

.btn {
  padding: 10px 24px;
  font-size: 20px;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn.transparent {
  border: 2px solid white;
  background-color: transparent;
  color: #fff;
}

.btn.border {
  border: 2px solid var(--primary);
  background-color: white;
  color: var(--primary);
}

.btn.main {
  border: 2px solid var(--primary);
  background-color: var(--primary);
  color: #fff;
}

.btn.small {
  padding: 8px 18px;
  font-size: 15px;
}

.app__container {
  height: 85vh;
}