.label {
    display: block;
    margin-bottom: 3%;
}

.registration_form {
    height: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registration_form>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 96%;
}

.registration_form>form>h3 {
    margin-top: 6%;
    margin-bottom: 6%;
    text-align: center;
}

.registration_form__input {
    margin-bottom: 20px;
    width: 99%;
    margin-left: 20%;
}

.registration_form__input>input {
    height: 30px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.registration_form__input>input:focus {
    border: 1px solid #3498db;
    transition: border-color 0.3s;
}

.registration_form__input>a {
    display: block;
    width: 80%;
}

.registration_form__login>a {
    color: blue;
    font-weight: 600;
    text-decoration: none;
}

.registration_form__button {
    width: 80%;
    font-weight: bold;
    margin-top: 5%;
}

.registration_form>h3 {
    margin-bottom: 20px;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin-top: 6%;
    margin-bottom: 5px;
    width: 70%;
}

.registration_form__login {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    text-decoration: underline; 
    cursor: pointer;
}